.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.tar.gz
*.Rcheck/
README.html
README.knit.md
REVIEW.md
src/Makevars
src/Makevars.win
src/config.h
src/*.o
src/*.so
src/*.dll
src/*.dylib
config.log
docs

vignettes/*.html
