.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.tar.gz
*.tgz
*.Rcheck/
README.html
README.knit.md
REVIEW.md
src/Makevars
src/Makevars.win
src/config.h
src/*.o
src/rsd-kernels/
src/rsd-lib/
src/*.so
src/*.dll
src/*.dylib
config.log
docs
tools/simdDispatch/build/
tools/simdDispatch/README.html

vignettes/*.html
/doc/
/Meta/
